{% extends 'layout.html' %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1>Welcome Home</h1>
    <p>Rent unique places to stay from local hosts in 3 main cities in Mexico.</p>
    <p><a class="btn btn-primary btn-lg" href="/listing" role="button">Add New Place</a></p>
  </div>
</div>
Cities:
<ul>
  <li><a href="/city/mexico-city">Mexico City</a></li>
  <li><a href="/city/guadalajara">Guadalajara</a></li>
  <li><a href="/city/monterrey">Monterrey</a></li>
</ul>
{% endblock %}
