{% extends 'layout.html' %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1>Welcome Home</h1>
    <p>Rent unique places to stay from local hosts in 3 main cities in Mexico.</p>
    <p><a class="btn btn-primary btn-lg" href="/listing" role="button">Add New Place</a></p>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="/assets/images/mexico_city.png" alt="Mexico City" class="img-responsive img-rounded"/>
        <div class="caption">
          <h3>Mexico City</h3>
          <p>Mexico City is one of the most important financial centers in the Americas. It is located in the Valley of Mexico, a large valley in the high plateaus at the center of Mexico, at an altitude of 2,240 metres.</p>
          <p><a href="/city/mexico-city" class="btn btn-success" role="button">Browse</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="/assets/images/guadalajara_city.png" alt="Guadalajara City" class="img-responsive img-rounded"/>
        <div class="caption">
          <h3>Guadalajara</h3>
          <p>Is the capital and largest city of the Mexican state of Jalisco, and the seat of the municipality of Guadalajara. The city is in the central region of Jalisco in the Western-Pacific area of Mexico.</p>
          <p><a href="/city/guadalajara" class="btn btn-success" role="button">Browse</a></p>
        </div>
      </div>
  </div>
  <div class="col-md-4">
      <div class="thumbnail">
        <img src="/assets/images/monterrey_city.png" alt="Monterrey City" class="img-responsive img-rounded"/>
        <div class="caption">
          <h3>Monterrey</h3>
          <p>Monterrey serves as a commercial center in the north of the country and is the base of many significant international corporations.</p>
          <p><a href="/city/monterrey" class="btn btn-success" role="button">Browse</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
