<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}AirBnb{% endblock %}</title>

    {% block head %}
    <link rel="stylesheet" href="/assets/vendors/bootstrap/css/bootstrap.css">

    <link rel="stylesheet" href="/assets/css/main-final.css">
    {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">AirBnb</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse pull-right">
          {% if user %}
          <ul class="nav navbar-nav">
            <li class="active"><a href="/profile">Welcome {{ user.username }}</a></li>
            <li><a href="/log-out">Log out</a></li>
          </ul>
          {% else %}
          <ul class="nav navbar-nav">
            <li class="active"><a href="/sign-up">Sign up</a></li>
            <li><a href="/log-in">Log in</a></li>
          </ul>
          {% endif %}
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    {% block content %}{% endblock %}
  </body>
</html>
