<!DOCTYPE html>
<html>
  <title>{{title}}</title>
  <body>
    <a href="/">Home</a>
    <form action="/create" method="post">
      <p>Listing name:<input type="text" name="name"></p>
      <p>Description:<textarea name="description"></textarea></p>
      <p>Address:<input type="text" name="address"></p>
      City:
      <select name="city">
        <option value="mexico-city">Mexico City</option>
        <option value="guadalajara">Guadalajara</option>
        <option value="monterrey">Monterrey</option>
      </select>
      <br/><br/>
      <button type="submit">Create Adertising</button>
    </form>
  </body>
</html>
