<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
  </head>
  <body>
    <h1>Check {{ advertise.name }}</h1>
    <a href="/">Home</a>
    <br/>
    <a href="/listing">Add New Place</a>
    <br/>
    <a href="/city/mexico-city">Mexico City</a>
    <p>Address: {{advertise.address}}</p>
    <p>City: {{advertise.city}}</p>
    <form action="/city/{{advertise.city}}/{{advertise.uuid}}/description" method="post">
      <p>Description:<textarea name="description">{{advertise.description}}</textarea></p>
      <button type="submit">Update description</button>
    </form>
  </body>
</html>
