<html>
  <title>...</title>
  <body>
   <a href="/">Home</a>
    <form action="/create" method="post">
      <p>Listing name:<input type="text" name="name"></p>
      <p><textarea name="description"></textarea></p>
      <p><input type="text" name="address"></p>
      <select name="city"></select>
      <option value="Mexico City">Mexico City</option>
      <option value="Guadalajara">Guadalajara</option>
      <option value="Monterrey">Monterrey</option>
      <button type="submit"></button>
    </form>
  </body>
</html>
